<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bv.member.mapper.UserTokenMapper">
    <select id="getByUserIdAndLoginType" resultType="com.bv.member.mapper.entity.UserTokenDO">
        SELECT id_mall_user_token,
               id_mall_user,
               user_token,
               login_type,
               device_info,
               is_valid,
               create_by,
               create_time,
               update_by,
               update_time
        FROM meite_user_token
        WHERE id_mall_user = #{userId}
          AND login_type = #{loginType}
          and is_valid = '0';
    </select>

    <update id="deleteByUserIdAndloginType">
        update meite_user_token
        set is_valid   ='1',
            update_by  = #{userId},
            update_time=now()
        where id_mall_user = #{userId}
          and login_type = #{loginType}
          and is_valid = '0';
    </update>

    <insert id="insert">
        INSERT INTO `mall_user_token`
        VALUES (#{idMallUserToken}, #{idMallUser}, #{token}, #{loginType}, #{deviceInfor}, 0, #{userId}, now(),
                #{idMallUser},
                now())
        ;
    </insert>

</mapper>