<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bv.member.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO `mall_user`
        VALUES (#{idMallUser}, #{mobile}, #{email}, #{password}, #{userName},
                #{sex}, #{age}, #{picImg}, #{qqOpenid}, #{weOpenId},
                '1', null, now(), null, now());
    </insert>

    <select id="getById" resultType="com.bv.member.mapper.entity.UserDO">
        SELECT
        ID_MALL_USER,
        MOBILE,
        EMAIL,
        PASSWORD,
        USER_NAME,
        SEX,
        AGE,
        PIC_IMG,
        QQ_OPENID,
        WX_OPENID,
        IS_VALID,
        CREATE_BY,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_TIME
        FROM mall_user
        WHERE ID_MALL_USER = #{id}
        <if test="valid!=null and valid!='' ">     
            AND IS_VALID = #{valid}     
        </if>
        ;
    </select>


    <select id="getByMobile" resultType="com.bv.member.mapper.entity.UserDO">
        SELECT
        ID_MALL_USER,
        MOBILE,
        EMAIL,
        PASSWORD,
        USER_NAME,
        SEX,
        AGE,
        PIC_IMG,
        QQ_OPENID,
        WX_OPENID,
        IS_VALID,
        CREATE_BY,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_TIME
        FROM mall_user
        WHERE MOBILE = #{mobile}  
        <if test="valid!=null">     
            AND IS_VALID = #{valid}    
        </if>
        ;
    </select>

    <select id="getByMobileAndPassword" resultType="com.bv.member.mapper.entity.UserDO">
        SELECT
        ID_MALL_USER,
        MOBILE,
        EMAIL,
        PASSWORD,
        USER_NAME,
        SEX,
        AGE,
        PIC_IMG,
        QQ_OPENID,
        WX_OPENID,
        IS_VALID,
        CREATE_BY,
        CREATE_TIME,
        UPDATE_BY,
        UPDATE_TIME
        FROM mall_user
        WHERE MOBILE = #{mobile} 
        AND  PASSWORD = #{password} 
        <if test="valid!=null">     
            AND IS_VALID = #{valid}    
        </if>
        ;
    </select>

</mapper>