<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bv.member.mapper.UserTokenMapper">
    <select id="getByUserIdAndLoginType" resultType="com.bv.member.mapper.entity.UserTokenDO">
        SELECT id_mall_user_token as idMallUserToken,
               id_mall_user as idMallUser,
               user_token as userToken,
               login_type as loginType,
               device_info as deviceInfo,
               is_valid as isValid,
               create_by as createBy,
               create_time as createTime,
               update_by as  updateBy,
               update_time as updateTime
        FROM mall_user_token
        WHERE id_mall_user = #{userId}
          AND login_type = #{loginType}
          and is_valid = '0';
    </select>

    <update id="deleteByUserIdAndloginType">
        update mall_user_token
        set is_valid   ='1',
            update_by  = #{userId},
            update_time=now()
        where id_mall_user = #{userId}
          and login_type = #{loginType}
          and is_valid = '0';
    </update>

    <insert id="insert">
        INSERT INTO `mall_user_token`
        VALUES (#{idMallUserToken}, #{idMallUser}, #{userToken}, #{loginType}, #{deviceInfo}, 0, #{idMallUser}, now(),
                #{idMallUser},
                now())
        ;
    </insert>

</mapper>