<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bv.member.mapper.UserMapper">
    <insert id="insert">
        INSERT INTO `mall_user`
        (id_mall_user, mobile, email, password, user_name,
         sex, age, pic_img, qq_openid, wx_openid,
         is_valid, create_by, create_time, update_by, update_time)
        VALUES (#{idMallUser}, #{mobile}, #{email}, #{password}, #{userName},
                #{sex}, #{age}, #{picImg}, #{qqOpenId}, #{wxOpenId},
                '0', #{idMallUser}, now(), #{idMallUser}, now());
    </insert>

    <select id="getById" resultType="com.bv.member.mapper.entity.UserDO">
        SELECT
        id_mall_user as idMallUser,
        mobile as mobile,
        email as email,
        password as password,
        user_name as userName,
        sex as sex,
        age as age,
        pic_img as picImg,
        qq_openid as qqOpenId,
        wx_openid as wxOpenId,
        is_valid as isValid,
        create_by as createBy,
        create_time as createTime,
        update_by as updateBy,
        update_time as updateTime
        FROM mall_user
        WHERE id_mall_user = #{id}
          <if test="valid!=null and valid!='' ">
          AND is_valid = #{valid}
        </if>
        ;
    </select>


    <select id="getByMobile" resultType="com.bv.member.mapper.entity.UserDO">
        SELECT
        id_mall_user as idMallUser,
        mobile as mobile,
        email as email,
        password as password,
        user_name as userName,
        sex as sex,
        age as age,
        pic_img as picImg,
        qq_openid as qqOpenId,
        wx_openid as wxOpenId,
        is_valid as isValid,
        create_by as createBy,
        create_time as createTime,
        update_by as updateBy,
        update_time as updateTime
        FROM mall_user
        WHERE mobile = #{mobile}
        <if test="valid!=null">
            AND is_valid=#{valid}
        </if>
        ;
    </select>

    <select id="getByMobileAndPassword" resultType="com.bv.member.mapper.entity.UserDO">
        SELECT
        id_mall_user as idMallUser,
        mobile as mobile,
        email as email,
        password as password,
        user_name as userName,
        sex as sex,
        age as age,
        pic_img as picImg,
        qq_openid as qqOpenId,
        wx_openid as wxOpenId,
        is_valid as isValid,
        create_by as createBy,
        create_time as createTime,
        update_by as updateBy,
        update_time as updateTime
        FROM mall_user
        WHERE mobile = #{mobile}
        AND password = #{password}
        <if test="valid!=null">
            AND is_valid = #{valid}
        </if>
        ;
    </select>

</mapper>